<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>  
</head>
<body class="container mx-auto p-6">
  <a href="./list" class="absolute left-0 top-0 pt-3 pl-3">
    ↩️
  </a>

  <form data-controller="markdown">
    <input type="text" 
      class="w-full text-2xl placeholder-divider mb-4 border-divider border-b-2 hover:border-b-6 focus:outline-none bg-surface-primary truncate" 
      placeholder="👉🏼 Click bait title goes here 👈🏼" 
      data-markdown-target="title">
      
    <div class="flex text-sm mb-6">
      <div>
        Character count: <span data-markdown-target="count"></span>
      </div>
      <div class="pl-4 cursor-help">
        Reading time: 3 minutes
      </div>
    </div>

    <div class="actual-editor relative">
      <input id="content" name="content" type="hidden">
      <trix-editor data-controller="trix-toolbar" data-markdown-target="editor" input="content" class="editor"></trix-editor>
    </div>
    
    <br>
    <div class="flex">
      <button class="btn btn-primary mr-2" type="button" data-action="markdown#publish">
        Publish draft in
        <i class="fab fa-dev fa-lg"></i>
      </button>
      <button class="btn btn-primary mr-2" type="button" data-action="markdown#downloadHTML">
        HTML
        <i class="fas fa-download"></i>
      </button>
      <button class="btn btn-primary mr-2" type="button" data-action="markdown#downloadMarkdown">
        Markdown
        <i class="fas fa-download"></i>
      </button>
  <!--    <select class="" data-action="markdown#download">-->
  <!--      <option value="" selected="selected">Download</option>-->
  <!--      <option value="markdown">Markdown</option>-->
  <!--      <option value="html">HTML</option>-->
  <!--    </select>-->
     <input type="submit" class="btn btn-secondary cursor-pointer ml-auto">
       Finish post <i class="fas fa-flag-checkered"></i>
     </input>    
                    
    </div>
    
  </form>
</body>
</html>